.site-footer__copyright {
    clear: both;
    height: 50px;
    margin: 0;
    color: #fff;
    background-color: #555555;
}
.site-footer__copyright p{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 50px;
}